@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  /* Text colors */
  --color-content-primary: #ffffff;
  --color-content-secondary: #98959d;
  --color-content-tertiary: #666666;
  --color-content-brand: #9282fa;

  /* Background colors */
  --color-background-primary: #151515;
  --color-background-secondary: #1e1e1e;
  --color-background-tertiary: #23242c;
  --color-background-brand: #9282fa;
  --color-background-highlight: #bdb4fa;

  /* Border colors */
  --color-border-primary: #3e3c41;
  --color-border-secondary: #86818c;
  --color-border-brand: #9282fa;
  --color-border-divisor: #353339;

  /* Accent colors */
  --color-accent-blue: #027df0;
  --color-accent-blue-light: #16487a;
  --color-accent-yellow: #f0dc02;
  --color-accent-yellow-light: #756e1b;
  --color-accent-orange: #f09102;
  --color-accent-orange-light: #75501b;

  /* Fonts styles */
  --font-sans: 'Inter', sans-serif;

  /* Text styles */

  --text-title: 1.5rem;
  --text-title--line-height: 2rem;
  --text-title--font-weight: bold;

  --text-paragraph-small: 0.75rem;
  --text-paragraph-small--line-height: 1rem;
  --text-paragraph-small--font-weight: medium;

  --text-paragraph-medium: 0.875rem;
  --text-paragraph-medium--line-height: 1.5rem;
  --text-paragraph-medium--font-weight: medium;

  --text-label-small: 0.75rem;
  --text-label-small--line-height: 1rem;
  --text-label-small--font-weight: bold;

  --text-label-medium: 0.875rem;
  --text-label-medium--line-height: 1.5rem;
  --text-label-medium--font-weight: bold;

  --text-label-large: 1rem;
  --text-label-large--line-height: 1.5rem;
  --text-label-large--font-weight: bold;

  --text-link: 0.75rem;
  --text-link--line-height: 1rem;
  --text-link--font-weight: medium;
}
